MVCLocking/Connected Services/LockingReference/LandmarkSystemInventoryLock.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Landmark.Classes.Breaks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Landmark.Classes.Breaks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInventoryLock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryLock" nillable="true" type="tns:InventoryLock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryLock" nillable="true" type="tns:ArrayOfInventoryLock" />
  <xs:complexType name="InventoryLock">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" type="xs:int" />
      <xs:element minOccurs="0" name="InvhCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockPositionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesArea" type="xs:int" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryLock" nillable="true" type="tns:InventoryLock" />
</xs:schema>