MVCLocking/Connected Services/LockingReference/LandmarkSystemInventoryLock2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Landmark.Parameters.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Landmark.Parameters.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationStandardParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationStandardParameters" nillable="true" type="tns:ValidationStandardParameters" />
</xs:schema>